/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */	
body {
    background-color: #ffffff;
}

img {
    display: inline-block;
    max-width: 100%;
}

#logo {
    height: 100%;
    float: left;
    vertical-align: middle;
    padding-left: 30px;
}

#cart {
    float: right;
    height: 100%;
    padding: 2em;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
}

/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}

/* Style rule for header */
header {
	top: 0;
	background-color: #D77A61;
	height: 120px;
}

/* Styles for nav area */
nav {
    height: 60px;
    background-color: #3B1F2B;
    width: 100%;
}

nav ul {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    display: inline-block;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    line-height: 60px;
}

nav li a {
    float: left;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0em 1em;
}

nav li a:hover {
    color: #EEBA0B;
}

/* Paragraph & Product Styles */
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: #000000;
    padding: 1em;
}

#products {
    max-width: 100%;
    display: inline-block;
    text-align: center;
}

.product {
    width: 20%;
    float: left;
    margin: 0 2%;
}

.product .name {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
}

.product .price {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}

.product img {
    border-radius: 20px;
}

/* Footer Styles */
footer {
    background-color: #D77A61;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
    padding: 2em;
}